<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.ProductExtMapper">
    <resultMap type="ProductExt" id="BaseResult">
        <result property="productId"            column="product_id"            />
        <result property="voucherAutoName"      column="voucher_auto_name"      />
        <result property="voucherMinConsume"    column="voucher_min_consume"    />
        <result property="voucherScopeType"     column="voucher_scope_type"     />
        <result property="voucherScopeIds"      column="voucher_scope_ids"      />
        <result property="comboTotalValue"      column="combo_total_value"      />
        <result property="comboSaleType"        column="combo_sale_type"        />
        <result property="comboAutoExtendDays"  column="combo_auto_extend_days"  />
        <result property="outerSubitemId"       column="outer_subitem_id"       />
        <result property="comboItemsJson"       column="combo_items_json"       />
        <result property="grouponPickRule"      column="groupon_pick_rule"      />
        <result property="grouponActualCount"   column="groupon_actual_count"   />
        <result property="dailyUseLimit"        column="daily_use_limit"        />
        <result property="refundRuleType"       column="refund_rule_type"       />
        <result property="saleChannels" column="sale_channels" />
        <result property="staffPromote" column="staff_promote" />
        <result property="codeType" column="code_type" />
        <result property="consumeStartDate" column="consume_start_date" />
        <result property="consumeEndDate" column="consume_end_date" />
        <result property="excludeDates" column="exclude_dates" />
        <result property="dailyTimeStart" column="daily_time_start" />
        <result property="dailyTimeEnd" column="daily_time_end" />
        <result property="voucherRules" column="voucher_rules" />
        <result property="createTime"           column="create_time"           />
        <result property="updateTime"           column="update_time"           />
    </resultMap>
    <select id="selectById" resultMap="BaseResult">
        select * from biz_product_ext where product_id = #{productId}
    </select>
    <insert id="insert" parameterType="ProductExt">
        insert into biz_product_ext
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="voucherAutoName != null">voucher_auto_name,</if>
            <if test="voucherMinConsume != null">voucher_min_consume,</if>
            <if test="voucherScopeType != null">voucher_scope_type,</if>
            <if test="voucherScopeIds != null">voucher_scope_ids,</if>
            <if test="comboTotalValue != null">combo_total_value,</if>
            <if test="comboSaleType != null">combo_sale_type,</if>
            <if test="comboAutoExtendDays != null">combo_auto_extend_days,</if>
            <if test="outerSubitemId != null">outer_subitem_id,</if>
            <if test="comboItemsJson != null">combo_items_json,</if>
            <if test="grouponPickRule != null">groupon_pick_rule,</if>
            <if test="grouponActualCount != null">groupon_actual_count,</if>
            <if test="dailyUseLimit != null">daily_use_limit,</if>
            <if test="refundRuleType != null">refund_rule_type,</if>
            <if test="saleChannels != null">sale_channels,</if>
            <if test="staffPromote != null">staff_promote,</if>
            <if test="codeType != null">code_type,</if>
            <if test="consumeStartDate != null">consume_start_date,</if>
            <if test="consumeEndDate != null">consume_end_date,</if>
            <if test="excludeDates != null">exclude_dates,</if>
            <if test="dailyTimeStart != null">daily_time_start,</if>
            <if test="dailyTimeEnd != null">daily_time_end,</if>
            <if test="voucherRules != null">voucher_rules,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="voucherAutoName != null">#{voucherAutoName},</if>
            <if test="voucherMinConsume != null">#{voucherMinConsume},</if>
            <if test="voucherScopeType != null">#{voucherScopeType},</if>
            <if test="voucherScopeIds != null">#{voucherScopeIds},</if>
            <if test="comboTotalValue != null">#{comboTotalValue},</if>
            <if test="comboSaleType != null">#{comboSaleType},</if>
            <if test="comboAutoExtendDays != null">#{comboAutoExtendDays},</if>
            <if test="outerSubitemId != null">#{outerSubitemId},</if>
            <if test="comboItemsJson != null">#{comboItemsJson},</if>
            <if test="grouponPickRule != null">#{grouponPickRule},</if>
            <if test="grouponActualCount != null">#{grouponActualCount},</if>
            <if test="dailyUseLimit != null">#{dailyUseLimit},</if>
            <if test="refundRuleType != null">#{refundRuleType},</if>
            <if test="saleChannels != null">#{saleChannels},</if>
            <if test="staffPromote != null">#{staffPromote},</if>
            <if test="codeType != null">#{codeType},</if>
            <if test="consumeStartDate != null">#{consumeStartDate},</if>
            <if test="consumeEndDate != null">#{consumeEndDate},</if>
            <if test="excludeDates != null">#{excludeDates},</if>
            <if test="dailyTimeStart != null">#{dailyTimeStart},</if>
            <if test="dailyTimeEnd != null">#{dailyTimeEnd},</if>
            <if test="voucherRules != null">#{voucherRules},</if>
        </trim>
    </insert>
    <update id="update" parameterType="ProductExt">
        update biz_product_ext
        <set>
            <!-- update_time 必须无条件写：下面全是 <if != null>，假如调用方传了一个
                 除 productId 外全空的 ProductExt，<set> 会是空的 → 生成
                 "update biz_product_ext where product_id=?" 这种非法 SQL，直接 500。
                 原先没暴露，是因为 ApiProductController.saveExtByTypeCode 无条件补 4 个
                 默认值（那正是把商家选好的投放渠道覆回默认的另一个 bug），
                 只要把那个覆盖修了，这个潜伏的非法 SQL 立刻显形。 -->
            update_time = sysdate(),
            <if test="voucherAutoName != null">voucher_auto_name = #{voucherAutoName},</if>
            <if test="voucherMinConsume != null">voucher_min_consume = #{voucherMinConsume},</if>
            <if test="voucherScopeType != null">voucher_scope_type = #{voucherScopeType},</if>
            <if test="voucherScopeIds != null">voucher_scope_ids = #{voucherScopeIds},</if>
            <if test="comboTotalValue != null">combo_total_value = #{comboTotalValue},</if>
            <if test="comboSaleType != null">combo_sale_type = #{comboSaleType},</if>
            <if test="comboAutoExtendDays != null">combo_auto_extend_days = #{comboAutoExtendDays},</if>
            <if test="outerSubitemId != null">outer_subitem_id = #{outerSubitemId},</if>
            <if test="comboItemsJson != null">combo_items_json = #{comboItemsJson},</if>
            <if test="grouponPickRule != null">groupon_pick_rule = #{grouponPickRule},</if>
            <if test="grouponActualCount != null">groupon_actual_count = #{grouponActualCount},</if>
            <if test="dailyUseLimit != null">daily_use_limit = #{dailyUseLimit},</if>
            <if test="refundRuleType != null">refund_rule_type = #{refundRuleType},</if>
            <if test="saleChannels != null">sale_channels = #{saleChannels},</if>
            <if test="staffPromote != null">staff_promote = #{staffPromote},</if>
            <if test="codeType != null">code_type = #{codeType},</if>
            <if test="consumeStartDate != null">consume_start_date = #{consumeStartDate},</if>
            <if test="consumeEndDate != null">consume_end_date = #{consumeEndDate},</if>
            <if test="excludeDates != null">exclude_dates = #{excludeDates},</if>
            <if test="dailyTimeStart != null">daily_time_start = #{dailyTimeStart},</if>
            <if test="dailyTimeEnd != null">daily_time_end = #{dailyTimeEnd},</if>
            <if test="voucherRules != null">voucher_rules = #{voucherRules},</if>
        </set>
        where product_id = #{productId}
    </update>
    <delete id="deleteById">
        delete from biz_product_ext where product_id = #{productId}
    </delete>
</mapper>
