<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.StoreAlbumMapper">
    
    <resultMap type="StoreAlbum" id="StoreAlbumResult">
        <result property="albumId"    column="album_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="storeName"    column="store_name"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="albumType"    column="album_type"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStoreAlbumVo">
        select a.album_id, a.store_id, s.store_name, a.image_url, a.album_type, a.sort,
               a.create_by, a.create_time, a.update_by, a.update_time, a.merchant_id
        from biz_store_album a
        left join biz_store s on s.store_id = a.store_id
    </sql>

    <select id="selectStoreAlbumList" parameterType="StoreAlbum" resultMap="StoreAlbumResult">
        <include refid="selectStoreAlbumVo"/>
        <where>
            <if test="storeId != null "> and a.store_id = #{storeId}</if>
            <if test="albumType != null  and albumType != ''"> and a.album_type = #{albumType}</if>
            <if test="params != null and params.storeIds != null and params.storeIds != ''"> and find_in_set(a.store_id, #{params.storeIds})</if>
        </where>
        order by a.sort asc, a.album_id asc
    </select>
    
    <select id="selectStoreAlbumByAlbumId" parameterType="Long" resultMap="StoreAlbumResult">
        <include refid="selectStoreAlbumVo"/>
        where a.album_id = #{albumId}
    </select>

    <insert id="insertStoreAlbum" parameterType="StoreAlbum" useGeneratedKeys="true" keyProperty="albumId">
        insert into biz_store_album
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">merchant_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="albumType != null">album_type,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">#{merchantId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="albumType != null">#{albumType},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStoreAlbum" parameterType="StoreAlbum">
        update biz_store_album
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="albumType != null">album_type = #{albumType},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where album_id = #{albumId}
    </update>

    <delete id="deleteStoreAlbumByAlbumId" parameterType="Long">
        delete from biz_store_album where album_id = #{albumId}
    </delete>

    <delete id="deleteStoreAlbumByAlbumIds" parameterType="String">
        delete from biz_store_album where album_id in 
        <foreach item="albumId" collection="array" open="(" separator="," close=")">
            #{albumId}
        </foreach>
    </delete>
</mapper>